# Lab 1: Introduction to Python

## Importing a library

In [1]:
import nltk

## Operations on lists

In [2]:
l = [1, 2, 3, 4, 5]

In [3]:
l[:3]

[1, 2, 3]

In [4]:
l[2:]

[3, 4, 5]

In [5]:
l[2:4]

[3, 4]

## Definition of a function and iterators

In [8]:
def add_one(x):
    return x + 1

list(map(add_one, l))

[2, 3, 4, 5, 6]

In [9]:
list(range(2, 5))

[2, 3, 4]

## Example: global and local variables

In [10]:
def test(v, l1, l2):
    v = v + 1   # you pass a new object
    l1 = [4, 5] # you pass a new object
    l2.append(5)  # you add smth to an old object, you don't create a new one

In [11]:
a = 5
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(f"a: {a}\nl1: {l1}\nl2: {l2}")

a: 5
l1: [1, 2, 3]
l2: [1, 2, 3]

In [12]:
test(a, l1, l2)
print(f"a: {a}\nl1: {l1}\nl2: {l2}")

a: 5
l1: [1, 2, 3]
l2: [1, 2, 3, 5]

## Passing arguments to a function

In [13]:
def test(a, p=0, *args, **kwargs):
    print(f"a: {a}, p: {p}, args: {args}, kwargs: {kwargs}")

In [14]:
test(10)

a: 10, p: 0, args: (), kwargs: {}

In [15]:
test(10, [2, 3])

a: 10, p: [2, 3], args: (), kwargs: {}

In [16]:
test(10, [2, 3], "b")

a: 10, p: [2, 3], args: ('b',), kwargs: {}

In [17]:
test(10, 0, [2, 3], "b")

a: 10, p: 0, args: ([2, 3], 'b'), kwargs: {}

## JSON structure

In [18]:
{"name": "John", "age": 4}

{'name': 'John', 'age': 4}

In [19]:
["John", "Mary", "Casper"]

['John', 'Mary', 'Casper']

In [20]:
# Basic structure of a JSON
{"name": "John", "age": 4, "friends": ["John", "Mary", "Casper"]}

{'name': 'John', 'age': 4, 'friends': ['John', 'Mary', 'Casper']}

In [ ]:
{"name": "John", "age": 4, "friends": [{"name": "John"}, {"name": "Mary"}]}

# Python basics exercises

This is a text

In [6]:
5 + 5

10

## Formatting a string

In [25]:
name = "Mark"
age = 42

In [8]:
# %-formatting (old string formatting)
print("Hi, I am %s and I am %d years old." % (name, age))

Hi, I am Mark and I am 42 years old.

In [23]:
# Format function with extended features of parameter naming and output formatting
# with {:2d} you tell how many fields should be reserved for your literal
# with {:f} you say you expect the value to be float; no need for number in front of 'f'
print("Hi, I am {name} and I am {age:f} years old.".format(age=age, name=name))

Hi, I am Mark and I am 42.999000 years old.

In [26]:
print(f"Hi, I am {name} and I am {age:3d} years old.")

Hi, I am Mark and I am  42 years old.

In [27]:
# Another example - f-string: The most readable (use this one from now on!)
f = 91
print(f"{f:.2f} Fahrenheit is {(f - 32) * 5 / 9:.2f} Celsius")

91.00 Fahrenheit is 32.78 Celsius

## Variables and types

In [28]:
b = 18 + 64j
print(f"Type of b is {type(b)}")

Type of b is <class 'complex'>

In [30]:
# There is a separate 'NoneType' class.
e = None
print(f"Type of e is {type(e)}")

Type of e is <class 'NoneType'>

In [31]:
a = 5
b = 6
c = a / b
d = a // b
print(c)
print(d)

0.8333333333333334
0

In [32]:
m = True + 5
m

6

In [33]:
m = '5' * 5
m

'55555'

## Strings, concatenation and formatting

In [34]:
string = '1234567'
string[-5:]

'34567'

In [35]:
upper_name = 'DIMITAR'
lower_name = 'dimitar'
print(upper_name.lower())
print(lower_name.upper())

dimitar
DIMITAR

In [36]:
c = 'I love data science'
management = c.replace('science', 'munging')
print(management)

I love data munging

In [37]:
# string package
import string
print(f"Punctuation symbols: '{string.punctuation}'")

Punctuation symbols: '!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~'

In [38]:
number = 6/.7
text = "dyslexia"

format0 = f"Number: {round(number * 100) / 100.0}, Text: {' ' * (15 - len(text))} {text}"
print(format0)

Number: 8.57, Text:         dyslexia

In [39]:
round(number * 100)

857

In [40]:
number

8.571428571428571

In [41]:
type(number)

float

In [45]:
format1 = f"Number: {number:5.2f}, Text: {text:>15}"   # with :>15 we set the available space for the text to 15 characters
print(format1)

Number:  8.57, Text:        dyslexia

In [46]:
format0 = f"Number: {round(number * 100) / 100.0}, Text: {' ' * (15 - len(text) + 10)} {text}"
print(format0)
format1 = f"Number: {number:5.2f}, Text: {text:>15}"
print(format1)

Number: 8.57, Text:                   dyslexia
Number:  8.57, Text:        dyslexia

In [ ]:
s = {"a", "b", "c"}   # Set

## Generators

In [50]:
from functools import reduce

l = [6, 8, 22, 4, 12]
doubled = map(lambda x: x * 2, l)
print(f"Doubled: {doubled}")
filtered = filter(lambda x: x > 10, l)
print(f"Filtered: {filtered}")
sum = reduce(lambda x, y: x + y, l)
print(f"Sum value: {sum}")
print(doubled)
print(filtered)
print(sum)

Doubled: <map object at 0x000001BE8CF573D0>
Filtered: <filter object at 0x000001BE8CF57310>
Sum value: 52
<map object at 0x000001BE8CF573D0>
<filter object at 0x000001BE8CF57310>
52

In [51]:
print(f"Doubled: {list(doubled)}")
print(f"Filtered: {list(filtered)}")

Doubled: [12, 16, 44, 8, 24]
Filtered: [22, 12]

In [52]:
l = [6, 8, 22, 4, 12]
newList = [x**2 for x in l if x >= 5 and x <= 10]
print(f"Squared values between 5 and 10: {newList}")

Squared values between 5 and 10: [36, 64]

## Slicing

In [53]:
l = list(range(10))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
slice_indexes = slice(2, 8, 2)
print(l[slice_indexes])

[2, 4, 6]

In [55]:
# Inline if statement
a = 2
print('a is greater than 1' if a > 1 else 'a is lower or equal to 1')

a is greater than 1

## Functions

In [56]:
def greet(name, title="Mr."):
    print(f"Hello {title} {name}!")
    
greet("Mojca", "Mrs.")
greet(title="Mrs.", name="Mojca")  # can reverse the order of parameters; the first parameter is not 'self'

Hello Mrs. Mojca!
Hello Mrs. Mojca!

In [57]:
# A function can also call itself and return a value.
def sumUpTo(value):
    if value > 0:
        return value + sumUpTo(value - 1)
    else:
        return 0
    
print(sumUpTo(50))

1275

In [58]:
print("My name is:\n\t Dimitar.")    #\t is escape character for 'tab'

My name is:
	 Dimitar.